@page "/"

<div style="margin:10px;">
<h1><a href="https://en.wikipedia.org/wiki/MCM/70" target="_blank">MCM/70</a> <a href="http://www.cse.yorku.ca/museum/collections/MCM/MCM.htm" target="_blank">Emulator</a></h1>
<h5><a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/" target="_blank">C#</a> <a href="https://docs.microsoft.com/en-us/dotnet/core/introduction" target="_blank">.NET 5.0</a> <a href="https://webassembly.org/" target="_blank">Web</a> <a href="https://developer.mozilla.org/en-US/docs/WebAssembly/Using_the_JavaScript_API" target="_blank">Assembly</a> <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor Client Side</a></h5>
<h6><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D" target="_blank">HTML 2D Canvas</a> <a href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop?view=dotnet-plat-ext-6.0" target="_blank">IJSUnmarshalledRuntime</a></h6>
<h5>&copy; 2019 <a href="https://www.amazon.com/Inventing-PC-MCM-70-Story/dp/0773538526" target="_blank">Zbigniew</a> <a href="https://www.linkedin.com/in/zbigniew-stachniak-6649a213" target="_blank">Stachniak</a></h5>
<h5>&copy; 2021 <a href="https://github.com/jefflomax" target="_blank">Jeff</a><a href="https://www.linkedin.com/in/jlomax/" target="_blank"> Lomax</a></h5>
<h5>&copy; 2015 Mike Willegal (8008-disassembler.c)</h5>
<div>To start, click the MCM POC link, then scroll down and click Start Emulator<br />
Press enter after you see MCM/APL<br />
Be sure the emulator canvas has focus when typing, etc.<br />
There is no timing to speak of yet.
</div>
<div class="aplFont">
To use the printer:<br />
<ol>
	<li>Click the Printer Icon&nbsp;&nbsp;[Printer image displays below emulator]</li>
	<li>Enter &#x2395; OUT 1&nbsp;&nbsp;&nbsp;[APL reponds 1 66 241&nbsp;&nbsp;-&nbsp;&nbsp;( &#x2395; is SHIFT - L)]</li>
	<li>Assign an expression to QUAD</li>
	<li>&#x2395; &#x2190; 'HELLO APL'&nbsp;&nbsp;(&#x2190; is [ )</li>
</ol>
</div>

<div class="aplFont">
<table border="1" style="min-width:500px" class="tablePadding">
	<thead>
		<tr><th colspan="2">Some simple things to try:</th></tr>
		<tr>
			<th>Expression</th>
			<th>Output</th>
		</tr>
	</thead>
	<tbody>
		<tr><td>&#x2373; 12</td><td>integers from 1 to 12</td></tr>
		<tr><td>+ / &#x2373; 100</td><td>sum integers from 1 to 100</td></tr>
		<tr><td>4 5 &#x2374; 20 ? 52</td><td>4 hands of cards</td></tr>
		<tr>
			<td>A &#x2190; 3 5 9 6 4 5 &#x23BA;1</td>
			<td rowspan="2" valign="center">Sort A</td>
		</tr>
		<tr><td>A[&#x234B;A]</td></tr>
		<tr><td>0.7 &#xF7; &#x2373; 255</td><td>Took 50 seconds on original hardware</td></tr>
	</tbody>
</table>
</div>
<br />
<div class="aplFont">
<table border="1" style="min-width:600px" class="tablePadding">
	<thead>
	<tr><th colspan="4">Keyboard Reference:</th></tr>
	<tr>
		<th>Character</th>
		<th align="center">Glyph</th>
		<th class="aligncenter">Keyboard</th>
		<th>Comments</th>
	</tr>
	</thead>
	<tr><td>QUAD</td><td align="center">&#x2395;</td><td>SHIFT - L</td><td>System Command, Input, Output</td></tr>
	<tr><td>Assignment</td><td align="center">&#x2190;</td><td> [ </td><td>Destructive Assignment</td></tr>
	<tr><td>IOTA</td><td align="center">&#x2373;</td><td>SHIFT - I</td><td>List Comprehension</td></tr>
	<tr><td>Reshape</td><td align="center">&#x2374;</td><td>SHIFT - R</td><td>Alters shape of vector or matrix</td></tr>
	<tr><td>Grade Up</td><td align="center">&#x234B;</td><td>SHIFT - M Backspace SHIFT-H</td><td>Returns ascending sort indices</td></tr>
	<tr><td>Negation</td><td align="center">&#x23BA;</td><td>SHIFT - 2</td><td>In APL, negation and subtraction are distinct</td></tr>
	<tr><td>Multiply</td><td align="center">&#x2715;</td><td> = </td><td>In APL, multiply has it's own symbol and is not *</td></tr>
	<tr><td>Divide</td><td align="center">&#xF7;</td><td> + </td><td>In APL, divide has it's own symbol and is not /</td></tr>
</table>
</div>
<br />
<div class="aplFont">
<table border="1" style="min-width:600px" class="tablePadding">
	<thead>
		<tr><th colspan="2">Cassette Support:</th></tr>
		<tr>
			<th>Input</th>
			<th>Output</th>
		</tr>
	</thead>
	<tbody>
		<tr><td>Left Click the left tape drive</td><td>Tape Opens</td></tr>
		<tr><td>Shift Left Click the opened left tape drive</td><td>Tape Selection Menu</td></tr>
		<tr><td>Choose a Tape</td><td>Tape displayed labelled</td></tr>
		<tr><td>Choose EJECT</td><td>Tape is removed, contents move to 'Select a tape to download' below emulator</td></tr>
		<tr><td>Left Click the labelled tape</td><td>Tape is loaded (this is slow for embedded tapes)</td></tr>
		<tr><td>&#x2395;XN &#x2373;0</td><td>List groups on tape 0</td></tr>
		<tr><td>&#x2395;XN[2] &#x2373;0</td><td>List groups on tape 1</td></tr>
		<tr><td>&#x2395;XN 80</td><td>Show content of group number 80 on drive 0</td></tr>
		<tr><td>&#x2395;XN[2] 80</td><td>Show content of group number 80 on drive 1</td></tr>
		<tr><td>Click Printer Icon</td><td rowspan="3" valign="center">Show content of group 80 on drive 0 on printer</td></tr>
		<tr><td>&#x2395;OUT 1</td></tr>
		<tr><td>&#x2395; &#x2190; &#x2395; XN 80</td></tr>
		<tr><td>GroupNumber &#x2395;XR 'name1 name2 nameN'</td><td>Load objects from group</td></tr>
		<tr><td>GroupNumber &#x2395;XR &#x2395;XN GroupNumber</td><td>Load all objects from group</td></tr>
		<tr><td>At bottom of emulator, Select a tape to make available to load</td><td>Upload a .tp file into the emulator</td></tr>
	</tbody>
</table>
</div>
<br />
</div>

@code {
	protected override async Task OnInitializedAsync()
	{
	}
}
