@page "/"
<div style="margin:10px;">
<h1><a href="https://en.wikipedia.org/wiki/MCM/70" target="_blank">MCM/70</a> <a href="http://www.cse.yorku.ca/museum/collections/MCM/MCM.htm" target="_blank">Emulator</a></h1>
<h5>C# <a href="https://docs.microsoft.com/en-us/dotnet/core/introduction" target="_blank">.NET 5.0</a> <a href="https://webassembly.org/" target="_blank">Web</a> <a href="https://developer.mozilla.org/en-US/docs/WebAssembly/Using_the_JavaScript_API" target="_blank">Assembly</a> <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor Client Side</a></h5>
<h6><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> <a href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D" target="_blank">HTML 2D Canvas</a> <a href="https://docs.microsoft.com/en-us/dotnet/api/microsoft.jsinterop?view=dotnet-plat-ext-6.0" target="_blank">IJSUnmarshalledRuntime</a></h6>
<h5>&copy; 2019 Zbigniew Stachniak</h5>
<h5>&copy; 2021 Jeff Lomax</h5>
<h5>&copy; Mike Willegal (8008-disassembler.c)</h5>
<p>To start, click the MCM POC link, then scroll down and click Start Emulator</p>
<p>Press enter after you see MCM/APL</p>
<p></p>
<p>Be sure the emulator canvas has focus when typing, etc.</p>
<p>There is no timing to speak of yet, nor cassette drive support.</p>
<p>To print, click the printer icon, only simple output is enabled, no scrolling, etc.</p>
<p>Be sure to enter <strong>&#x25A1;OUT 1</strong> (SHIFT-L OUT 1)</p>
<p>after enabling the printer and before trying to <strong>&#x25A1;&#x2190;'SEND ANYTHING TO THE PRINTER'</strong> (SHIFT-L [ )</p>
</div>
