@inherits LayoutComponentBase
@inject BlazorCanvas.Runner.AppState AppState
<a href="mcmpoc">  MCM POC</a>@*&nbsp;Instructions/sec: @AppState.InstructionsPerSecond&nbsp; Instructions: $ @AppState.InstructionCount *@
@Body
